body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.second__header__section {
    display: flex;
    padding: 0;
    align-items: center;
    height: 43px;
    background-color: #1FA181;
}
header {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header__location {
    display: flex;
    align-items: center;
}
.image__number {
    width: 28px;
    height: 28px;
    margin-right: 9px;
}
.header__number {
    display: flex;
    align-items: center;
}

.header__location__adress {
    display: flex;
    flex-direction: column;
}
.address {
    margin: 0;
}
.image__geo {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
.first__header__section {
    display: flex;
    justify-content: space-between;
}
.header__list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 375px;
}
.header__list__elem {
    list-style-type: none;
    margin-left: 30px;

}
.header__ref {
    text-decoration: none;
    color: #ffffff;
}

.main__div {
    display: flex;
    background-color: #F8FBFA;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.main__text {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #364844;
}

.main__about {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #364844;
}
.main__left__div {
    width: 416px;
    height: 227px;
    margin-left: 390px;
}
.button {
    height: 43px;
    width: 196px;
    border-radius: 50px;
    background-color: #0DBC91;
    color: #fff;
    border-style: none;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 35px;
}
.upper__logo {
    width: 91.04px;
    height: 26.9px;
    margin-right: 20.55px;
    margin-top: 21px;
    margin-bottom: 18px;
}